div .topBar {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 40%;
  padding-right: 8%;
}



body{
  background-color: gray;
}

.Box1 {
  overflow:auto;
  margin-left: 41%;
  length: 400px;
  width:300px;
  margin-right: 50%;
  overflow-x: none;
  padding left: 40%;
  padding-right: 8%;
  position: fixed;
  align: center;
}

.Box2 {
  border-style: groove;
  width: 500px;
  height: 400px;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  padding-left: 40%;
  padding-right: 8%;
}



div .BottomBar {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 40%;
  padding-right: 8%;
}

div .Box1{

}

li {
  float: left;
}

img {
  width: 200px;
  height: 100px;
  border-style: groove;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

li a:hover {
  background-color: orange;
}

.menu:hover{
  background-color: orange;
}
